<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="film" class="nav-link" routerLinkActive="active">Film</a>
    </li>
    <li class="nav-item">
        <a routerLink="character" class="nav-link" routerLinkActive="active">Character</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Esjn 2020 - SWAPI WIKI</span>
  </div>
</footer>